<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required by @HiltAndroidTest: the debug app under test must use the
         Hilt test application so DI overrides (@UninstallModules) apply. -->
    <application
        android:name="dagger.hilt.android.testing.HiltTestApplication"
        tools:replace="android:name" />

</manifest>